/*Header Formatting*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Lab Test Form */
.lab-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

.lab-form label {
    display: block;
    margin-bottom: 5px;
}

.lab-form input,
.lab-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.lab-form input[type="reset"],
.lab-form input[type="submit"] {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.lab-form img {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
}